$white-color: #fff;
$onyx-color: #373745;
$green-sheen-color: #60c2aa;
$bright-gray-color: #ededed;
$onyx: #373745;
$platinum-color: #e5e5e5;
$gray-color: #f7f7f7;
$azureish-white-color: #cfede6;
$orchink-pink: #f3bbd0;